@font-face {
  font-family: "helvetica black";
  src: url('fonts/original_HelveticaNeueLTStd-Blk.woff') format('woff');
}
*{
    transition: all ease .75s;
}
::-webkit-scrollbar { 
    display: none; 
	width:0px;
}
body{
	background:#000000; font-family:Arial negra, Helvetica, sans-serif; font-size:36px; margin:0px;
}
a {
	color:#FFFFFF;
	text-decoration:none;
}
.frame{
	width:100%;
	height:auto;
	overflow:hidden;
	position:relative;
}
.web {
	font-family:'helvetica black';
	color:#FFFFFF;
	float:left;
	overflow:hidden;
	width: 87px;
}
.web2 {
	font-family:'helvetica black';
	color:#000;
	float:left;
	overflow:hidden;
	width: 35px;
}
.vera {
	font-family:'helvetica black';
	color:#ABABAB;
	float:left;
	overflow:hidden;
	width: 102px;
}
.vera2 {
	font-family:'helvetica black';
	color:#666666;
	float:left;
	overflow:hidden;
	width:25px;
}
.head{
	position:absolute;
	top:80px;
	left:40px;
	width:94vw;
	z-index:11;
}
.head2{
	position:fixed;
	top:63px;
	left:40px;
	width:94vw;
	z-index:20
}
.header__burger span {
    position:absolute;
    left:11px;
    width:30px;
    height:1px;
    background-color:#fff;
}
.header__burger span:first-child {
    top: 17px;
}
.header__burger span:nth-child(2) {
    top: 9px;
}
.header__burger {
    background: none;
    border:0;
    height:50px;
	position:absolute;
}
.content{
	position:relative;
	width:90vw;
	margin:0px auto;
}
#menu {
	float:right;
	color:#CCCCCC;
	font-size:16px;
	margin-right:20px;
	margin-top:15px;
}
#masmenu {
	float:right;
	font-size:36px;
	margin-right:90px;
	margin-top:5px;
}
#burger{
	cursor:pointer;
	width:40px;
}
/*.site-menu--show {
    height: 100%;
    opacity: 1;
    transition-delay: 0ms;
}
.site-menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: height 0ms linear 1.5s;
        transition-delay: 1.5s;
    z-index: 5;
}*/
#salida {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 0px;
    overflow: hidden;
    transition: all linear 1.5s;
    z-index: 5;
}
.imagenPF {
    float: right;
	background-image: url('imagenes/satdium-collection.jpg');
    background: no-repeat url('imagenes/satdium-collection.jpg');
	filter: grayscale(1);
    background-blend-mode: luminosity;
    width: 40vw;
    height: 100vh;
    background-size: 100%;
    /*margin-top: -150px;
	margin: -90vh 50vw 0px 0px;*/
	opacity: 0;
	position:fixed;
	left: 45vw;
	top:0px;
	transition: all ease 2.75s;
	background-position: center;
}
.imagenPF2 {
    position:fixed;
    background: no-repeat url('imagenes/satdium-collection.jpg');
	background-image: url('imagenes/satdium-collection.jpg');
    width: 40vw;
    height: 100vh;
    background-size: 80%;
	left:45vw;
	top:0px;
	/*margin: -90vh 50vw 0px 0px;
    margin-top: -150px;*/
	opacity: 0;
	transition: all ease 1.75s;
	background-position: center;
	cursor:pointer
	/*z-index:1;*/
}
.cont_text {
	color:#FFFFFF;
	position:fixed;
	top:0px;
	/*left:67px;
	overflow:hidden;
	height: 10vh;*/
	padding: 65vh 0vh 10vh 10vh;
}
.flecha {
	position: fixed;
	color: #999999;
	border: 1px solid #999;
	border-radius: 3px;
	padding: 0px 10px;
	line-height: 38px;
	cursor:pointer;
	z-index:11;
	top:90vh;
	right:40px;
}
.flecha2 {
	display:none;
	font-size:20px;
	line-height:26px;
	padding:0px 8px;
	right:11px;
}
.trabajos {
	float: left;
    width: 20%;
    height: 25vw;
    background-size: cover;
	background-position:center;
    background-blend-mode: luminosity;
    opacity: 0.5;
	z-index:30;
	cursor:pointer;
}
input[type="text"], textarea {
	color: #666;
	background: #fff;
	background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
	border: 1px solid #bbb;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	display: block;
	padding: 0.7em;
	width: 94%;
	margin-bottom:10px;
	font-family:Arial negra, Helvetica, sans-serif;
	font-size:14px;
}
.btn {
    display: inline-block;
	background:#FFFFFF;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid  #CCCCCC;
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    line-height: 1.25;
    border-radius: 0.25rem;
    transition: all 0.15s ease-in-out;
}
.cont-fotos {
	width:100%;
	background:#000;
	float:left;
	margin-bottom:20vh;
}
.tit-trabajos {
	padding:35vh 0 5vh;
	color:#FFFFFF;
}
.foto-trabajos {
	position:absolute;
	top:50vh; left:50vw;
	overflow:hidden;
	width:0vw;
	height:0vw;
	background-position:center;
	background-size:cover;
	cursor:pointer;
}
#cont-contacto {
	padding-top:30vh;
	width:100%;
	background:#000;
	float:left;
	margin-bottom:20vh;
	position:relative;
	z-index:1;
}
#left-contacto {
	float:left;
	color:#FFFFFF;
	width:25%;
	margin-left:20px;
	margin-bottom:30vh;
	padding-right:40px;
}
#right-contacto {
	float:left;
	color:#FFFFFF;
	width:60%;
}
#alerta {
	position:absolute;
	width:57%;
	height:100%;
	background:#666666cc;
	text-align:center;
	border:5px solid green;
	border-radius:5px;
	padding:30px;
}
@media only screen and (max-width: 600px) {
	#alerta {
		width:80%;
	}
	#menu {
		display:none;
	}
	#head, #head2 {
		top:10px;
	}
	#cont-contacto {
		padding-top:30vh;
		width:100%;
		background:#000;
		float:none;
		margin-bottom:20vh;
	}
	#left-contacto {
		float:none	;
		color:#FFFFFF;
		width:100%;
		margin-left:20px;
		padding-right:40px;
	}
	#right-contacto {
		float:none;
		color:#FFFFFF;
		width:100%;
	}
	.fa {
		font-size: 24px;
	}
	#oops {
		margin-bottom:20vh;
	}
}